*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #ebebeb
}
#inputfolder{
    display: none;
}
.menu{
    background-color: #5A4BDA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
}
.logo{
    color: beige;
    font-weight: bold;
    letter-spacing: .7px;
}
.menu label{
    background-color: #cfcfcf;
    line-height: 40px;
    border-radius: 9px;
    margin: 5px 10px;
    padding: 0px 10px;
}
.fa-folder-plus{
    margin-right: 5px;
}

#alert{
    display: flex;
    justify-content: center;
    color: #abacad;
    margin-top: 7%;
}




#table {
    display: none;
    justify-content: center;
}

.folder-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 360px;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.05);
}

.folder-table thead tr{
    background-color: #cfcfcf;
    border-radius: 9px !important;
}

tr {
    border-bottom: 1px solid #cfcfcf;
}

th,td{
    padding: 8px 10px;
}
tbody tr:last-of-type{
    border-bottom: 1.5px solid #5A4BDA !important;
}

tbody tr:nth-of-type(even){
    background-color: #e3e3e3;
}

button.info-btn {
    padding: 3px 11px;
}


/* /////////////// */


#box{
    display: none;
    position: fixed;
    background-color: #c8cfcf;
    right: 0;
    bottom: 0;
    padding: 20px;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 3.5px solid #5A4BDA;
}